* Gerais */
body {
  font-family: 'Roboto', sans-serif;
}




main{
background-image: url("../img/arvore.jpg");
height: 700px; /* You must set a specified height */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
background-attachment: fixed;

}


.search{
    margin-top: 80px;
    margin-bottom: 40px;
}
.button-search{
    margin-left: 20px;
}

